<div class="mx-auto" style="width: 30rem; margin: 5em 0 ;">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <div class='border-bottom'>
        <h5 class="card-title">Profile</h5>
      </div>
      <p class="card-text">
        名前：　　　　　<%= user.name %><br>
        メールアドレス：<%= user.email %><br>
        自己紹介<br>
        <%= user.description %>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <% @dogs&.each do |dog| %>
        <li class="list-group-item">
          <p>
            お名前：<%= dog.name %></br>
            犬種：　<%= dog.breeds %></br>
            性別：　<%= dog.sex %></br>
            体重：　<%= "#{dog.weight}kg" %></br>
            年齢：　<%= "#{(Date.today.strftime("%Y%m%d").to_i - dog.birthday.strftime("%Y%m%d").to_i) / 10000} 才"%>
            </br><%= link_to '編集', edit_dog_path(id: dog.id), class: "btn btn-primary" %>
          </p>
        </li>
      <% end %>
    </ul>
    <% if current_user %>
      <div class="card-body">
        <%= link_to '人間の編集', edit_user_path(user.id), class: "btn btn-primary" %>
        <%= link_to '犬の登録', new_dog_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
