<%= form_for @user, action: action do |f| %>
  <div class="mx-auto" style="width: 30rem; margin: 5em 0 ;">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <div class='border-bottom'>
          <h5 class="card-title"><%= title %></h5>
        </div>
        <p class="card-text">
          <p>
            <%= f.label :name, '名前　　　　　' %>
            <%= f.text_field :name, :size=>'30'%>
          </p>
          <p>
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email, :size=>'30'%>
          </p>
          <p>
            <%= f.label :password, 'パスワード' %>
            <%= f.text_field :password, :size=>'30'%>
          </p>
          <p>
            <%= f.label :description, '自己紹介' %>
            <%= f.text_area :description ,  class: 'form-control',size: "20x10"%>
          </p>
          <%= f.submit submit, class: "btn btn-outline-primary"%>
        </p>
    </div>
  </div>
<% end %>
