<h1>ユーザー一覧</h1>
<p>ユーザーの一覧表示画面です</p>
<% @users.each do |f| %>
<p>
  <%= f.name %>
  <%= f.email %>
  <%= link_to '削除', user_path(f.id), method: :delete %>
  <%= link_to '編集', edit_user_path(f.id) %>
</p>
<% end %>

<p>
    <%= link_to "新規登録", new_user_path %>
</p>
<br>
<p>
  <%= link_to "ログイン画面はこちら", login_path %>
</p>
