<h1>新規追加</h1>
<p>ユーザーの新規追加画面です</p>
<%= form_for @user, action: :create do |f| %>
<p>
  <%= f.label :name, '名前' %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email, 'メールアドレス' %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :pass, 'パスワード' %>
  <%= f.text_field :pass %>
</p>
  <%= f.submit "登録"%>

<% end %>