<%= form_for @item, action: action do |f| %>
   <div class="mx-auto" style="width: 30rem; margin: 5em 0 ;">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <div class='border-bottom'>
          <h5 class="card-title"><%= title %></h5>
        </div>
        <p class="card-text">
          <p>
            <%= f.label :name, '商品名' %><br>
            <%= f.text_field :name, :size=>'30'%><br><br>
            <%= f.label :country_of_origin, '原産国' %><br>
            <%= f.select :country_of_origin, [['日本'],
                                             ['アメリカ'],
                                             ['ドイツ'],
                                             ['イギリス'],
                                             ['スウェーデン'],
                                             ['カナダ'],
                                             ['スイス'],
                                             ['ニュージーランド'],
                                             ['オーストラリア']], include_blank: true %><br><br>
            <%= f.label :target_age, '対応年齢' %><br>
            <%= f.select :target_age, [['妊娠期／授乳期用フード'],
                                       ['幼時期／成長期用フード'],
                                       ['維持期フード'],
                                       ['シニア期用フード'],
                                       ['全年齢対応']], include_blank: true %><br><br>
            <%= f.label :grams, '内容量' %><br>
            <%= f.text_field :grams, :size=>'30'%>グラム<br><br>
            <%= f.label :price, '価格' %><br>
            <%= f.text_field :price, :size=>'30' %>円<br><br>
            <%= f.label :category, 'ジャンル' %><br>
            <%= f.select :category, [['ドライ'],
                                     ['ソフトドライ'],
                                     ['セミモイスト'],
                                     ['ウェット缶詰'],
                                     ['アレルギー対応'],
                                     ['おやつ']], include_blank: true %><br><br>
            <%= f.label :avatar_path , '画像'%><br>
            <%= f.file_field :avatar_path, id: :item_avatar_path %>
          </p>
          <%= f.submit submit, class: "btn btn-outline-primary"%>
        </p>
    </div>
  </div>
</div>
<% end %>
