<%= form_for @review, action: action do |f| %>
  <div class="mx-auto" style="width: 30rem; margin: 5em 0 ;">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <div class='border-bottom'>
          <h5 class="card-title"><%= title %></h5>
        </div>
        <p class="card-text">
          <p>
            <%= f.label :title, 'タイトル' %><br>
            <%= f.text_field :title, :size=>'30'%>
          </p>
          <p>
            <%= f.label :body, '本文' %><br>
            <%= f.text_area :body ,  class: 'form-control',size: "1x5"%>
          </p>
          <%= f.hidden_field :item_id, :value => params[:item_id] %>
          <%= f.submit submit, class: "btn btn-outline-primary"%>
        </p>
    </div>
  </div>
<% end %>
